.shop-container {
   display: grid;
   grid-template-columns: 4fr 1fr;
}

.products-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 45px;
   margin: 40px;
}
.card-container{
   background-color: rgba(255, 166, 0, 0.616);
}
.card-container h2{
   text-align: center;
   padding-top: 30px;
   color: #fff;
}