.all-product {
   width: 300px;
   height: 510px;
   border: 1px solid #eceff1;
   border-radius: 8px;
   padding: 10px;
   position: relative;
}

.all-product img {
   width: 100%;
   border-radius: 8px;
}

.card-item {
   margin-top: 35px;
   padding-bottom: 15px;
}

.all-product button {
   background: #ffa705ad;
   padding: 10px 93px;
   position: absolute;
   bottom: 0;
}